.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.hero img{
    width: 250px;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 70px;
    line-height: 70px;
}
.hero p{
    width: 50%;
    text-align: center;
    line-height: 30px;
}
.btnhero{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.hero-connect{
    padding: 5px 20px;
    border: 3px solid rgb(42, 215, 237);;
    border-radius: 20px;
    cursor: pointer;
}
.hero-resume{
    padding: 5px 20px;
    border: 3px solid rgb(42, 215, 237);;
    border-radius: 20px;
    cursor: pointer;
}

@media(max-width: 768px){
    .hero h1{
        font-size: 40px;
        line-height: 45px;
        width: 90%;
    }
    .hero p{
        width: 90%;
    }
    .btnhero{
        width: 60%;
    }
}