.about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    margin: 50px 140px;
}   
.abt-title{
    font-size: 60px;
    padding: 20px;
}
.abt-section{
    display: flex;
}

.left-section {
    width: 50%;
}
.left-section img{
    width: 60%;
    height: auto;
}

.right-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.skill{
    display: flex;
    gap: 20px;
    margin: 20px 0px;
    
}
.skill hr{
    align-self: center;
    height: 4px;
    border-radius: 20px;
    border-color: rgb(235, 253, 255);
    background-color: rgb(11, 210, 255);
}

.skill p{
    min-width: 100px;
    font-size: 25px;
}

.abt-achivement{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-around;
    margin-top: 60px;
}

@media(max-width: 768px){
    .about{
        margin: 20px 10px;
        gap: 30px;
    }   
    .abt-title{
        font-size: 30px;
        padding: 10px;
    }
    .abt-section{
        flex-direction: column;
        gap: 30px;
        padding: 0px 5px;
    }
    .left-section, .right-section{
        width: 100%;
    }
    .left-section img{
        width: 80%;
        padding: 30px;
    }
    .skill{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 300px;
        
       
    }
    .skill hr{
    max-width: 100%;
    align-self: flex-start;
}
    .abt-achivement{
        flex-direction: column;
        display: flex;  
        justify-content: center;
        gap: 30px;
        padding-bottom: 100px;
    }

    .abt-achivement div{
        text-align: center;
        
    }
}