.footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-top{
    display: flex;
    padding: 0px 50px;
    gap: 30px;
    justify-content: center;
}
.footer-left{
    display: flex;
    margin: 50px 10px;
    min-width: 50%;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.footer-left img{
    width: 150px;
}
.footer-left p{
    width: 400px;
    text-align: center;
}

.footer-right{
    display: flex;
    padding-top: 35px;
    margin: 50px 10px;
    min-width: 50%;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    
}

.footer-right p{
    font-size: 34px;
}
.footer-right input{
    padding: 10px;
    font-size: 16px;
    background-color: rgb(46, 46, 46);
    border: 1px solid #ffffff;
    border-radius: 5px;
    
}
.footer-right button{
    padding: 10px;
    font-size: 16px;
    background-color: rgb(117, 117, 117);
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 10px;
}

.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

hr{
    border-color: rgb(8, 198, 224);
}

@media(max-width: 768px){
    .footer-top{
        flex-direction: column;
        padding: 0px 20px;
    }
    .footer-left, .footer-right{
        min-width: 100%;
        margin: 20px 0px;
    }
    .footer-left p, .footer-right p{
        width: 100%;
        text-align: center;
    }
    .footer-email{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}   